@font-face {
  font-family: 'cyclando';
  src:  url('fonts/cyclando.eot?ovpb4k');
  src:  url('fonts/cyclando.eot?ovpb4k#iefix') format('embedded-opentype'),
    url('fonts/cyclando.ttf?ovpb4k') format('truetype'),
    url('fonts/cyclando.woff?ovpb4k') format('woff'),
    url('fonts/cyclando.svg?ovpb4k#cyclando') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

i {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'cyclando' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-map-marker-alt1:before {
  content: "\f28b";
}
.icon-user:before {
  content: "\eeae";
}
.icon-users:before {
  content: "\eec5";
}
.icon-calendar:before {
  content: "\e9cf";
}
.icon-arrow-from-left:before {
  content: "\e93b";
}
.icon-route1:before {
  content: "\f36b";
}
.icon-tachometer-slow1:before {
  content: "\f447";
}
.icon-plane-departure1:before {
  content: "\f31e";
}
.icon-angle-down:before {
  content: "\e917";
}
.fa-angle-down:before {
  content: "\e917"!important;
}